{
  "extends": [
    "next",
    "next/core-web-vitals",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "root": true,
  "rules": {
    "@typescript-eslint/ban-types": "warn", // TODO: "error" 로 변경
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "prettier/prettier": [
      "error",
      {
        "tabWidth": 2,
        "singleQuote": false,
        "arrowParens": "always",
        "semi": false,
        "trailingComma": "all"
      }
    ]
  }
}
