{
  "extends": ["next", "next/core-web-vitals", "plugin:prettier/recommended", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "simple-import-sort"],
  "root": true,
  "rules": {
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "react-hooks/exhaustive-deps": "error",
    "simple-import-sort/imports": "error",
    "react/jsx-no-useless-fragment": ["error", { "allowExpressions": true }],
    "no-restricted-imports": [
      "error",
      {
        "paths": [{ "name": "react", "importNames": ["default", "FC"] }],
        "patterns": [{ "group": ["./__[a-z]*__/*"], "message": "index.ts 를 통해 export해 주세요." }]
      }
    ]
  }
}
