name: deploy-prod

on:
  push:
    tags:
      - prod/*

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    env:
      IMAGE_TAG: latest-prod
      BUILD_NUMBER: ${{ github.run_number }}
      ECR_REGISTRY: 405906814034.dkr.ecr.ap-northeast-2.amazonaws.com
      ECR_REPOSITORY: snutt/snutt-ev-web
      S3_BUCKET_NAME: snutt-ev-web-build

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Upload Dockerrun.aws.json to S3
        run: |
          zip deploy-prod.zip Dockerrun.aws.json
          aws s3 cp deploy-prod.zip s3://$S3_BUCKET_NAME/deploy-prod.zip

      - name: Login to ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Docker Build, tag, and push image to ECR
        id: build-image
        run: |
          docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG --build-arg APP_ENV=prod --build-arg GIT_SHA=$(git rev-parse HEAD) .
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
          echo "::set-output name=image::$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG"

      - name: Delete untagged images in ECR
        run: |
          UNTAGGED_IMAGES=$( aws ecr list-images --repository-name $ECR_REPOSITORY --filter "tagStatus=UNTAGGED" --query 'imageIds[*]' --output json )
          aws ecr batch-delete-image --repository-name $ECR_REPOSITORY --image-ids "$UNTAGGED_IMAGES" || true

      - name: Deploy to ElasticBeanstalk
        run: |
          aws elasticbeanstalk create-application-version \
            --application-name snutt-ev-web \
            --version-label prod-$BUILD_NUMBER \
            --description prod-$BUILD_NUMBER \
            --source-bundle S3Bucket=$S3_BUCKET_NAME,S3Key='deploy-prod.zip'
          aws elasticbeanstalk update-environment \
            --environment-name snutt-ev-web-prod \
            --version-label prod-$BUILD_NUMBER

      - name: Slack Notify
        uses: rtCamp/action-slack-notify@v2.1.2
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_CHANNEL: team-snutt-deploy
          SLACK_TITLE: NEW RELEASE
          SLACK_USERNAME: snutt-ev-web
          SLACK_ICON: https://user-images.githubusercontent.com/39977696/191924403-3a26618c-5568-4c22-b592-aedc77323e8d.png
          SLACK_MESSAGE: Check <https://ap-northeast-2.console.aws.amazon.com/elasticbeanstalk/home?region=ap-northeast-2#/environment/monitoring?applicationName=snutt-ev-web&environmentId=e-ehdmyes2rm|EB> for updated environment
          SLACK_FOOTER: https://snutt-ev-web.wafflestudio.com
